body {
    font-family: 'Baloo Bhaina 2', cursive;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 24px;
    display: flex;
    justify-content: space-around;
    min-height: 852px;
}

.column1 {
width: 7%;
background-color: black;
color: white;
border-radius: 25px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
box-shadow: 20px 10px 15px 5px #E5E5E5;
min-width: 100px;
height: 852px;
}

.column2 {
    margin-left: 30px;
    width: 45%;
    min-width: 620px;
}

.column3 {
    margin-left: 30px;
    width: 30%;
    min-width:440px;
}

.f {
    font-size: 64px;
    line-height: 102px;
    font-weight: bold;
    height: 102px;
}

.menu {
margin-top: 15px;
height: 545px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.exit {
height: 66px;
}

.menu div {
width: 47px;
text-align: center;
}

.relative {
position: relative;
}

.circle1 {
    position: absolute;
    top: -9px;
    left: 16px;
}

.circle2 {
    position: absolute;
    top: 8px;
    left: 17px;
}

.column1 a {
text-decoration: none;
color: white;
}

.block1 {
    padding-top: 31px;
    box-sizing: border-box;
}

.hello {
    height: 160px;
    background-color: #F5F5F7;
    border-radius: 25px;
    padding-left: 31px;
    padding-top: 46px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Josh {
font-size: 36px;
line-height: 57px;
}

.see_you {
    font-size: 16px;
line-height: 24px;
font-family: Roboto;
}

.courses, .spanish .b2 {
    height: 80px;
    background-color: #F5F5F7;
    border-radius: 15px;
}

.spanish {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.b2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.percent {
position: relative;
font-size: 13px;
line-height: 15px;
font-family: Roboto;
}

.percent img {
    position: absolute;
    top: -13px;
    left: -9px;
}

.title1 {
    font-size: 16px;
    line-height: 20px;
}

.title2 {
    font-size: 13px;
    line-height: 15px;
    font-family: Roboto;
}

button {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 12px 34px;
    border: transparent;
    margin-right: 24px;
}

.arrows {
width: 5%;
position: relative;
}

.arrows img:first-of-type {
position: absolute;
top: -7px;
left: -12px;
}

.miniimg {
    background-color: white;
    border-radius: 15px;
    width: 64px;
    height: 64px;
    margin-left: 9px;
}

.block2 {
    display: flex;
    flex-direction: column;
}

.courses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    box-sizing: border-box;
}

.insta {
    background-image: url(img/insta.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.pen {
    background-image: url(img/img4.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.analog {
    background-image: url(img/img3.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.figma {
    background-image: url(img/img2.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.sp {
    background-image: url(img/img1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.ps {
    background-image: url(img/img5.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.courses div:nth-of-type(2) {
    width: 152px;
}

.courses div:nth-of-type(3) {
    width: 86px;
}

.courses div:nth-of-type(4) {
    width: 40px;
}

.clock {
    margin-left: 15px;
}

.clock, .fire {
    position: relative;
}

.clock img {
    position: absolute;
    top: -2px;
    left: -24px;
}

.fire img {
    position: absolute;
    top: -2px;
    left: -21px;
}

.minimenu {
margin-top: 40px;
margin-bottom: 10px;
}

.minimenu div:first-of-type {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 38px;
}

.minimenu span {
font-size: 16px;
line-height: 26px;
opacity: 0.3;
padding-right: 31px;
}

.minimenu span:first-of-type {
opacity: 1;
}

.man {
transform: translate(-104px, -78px);
}

.block3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 31px;
}

.search {
    width: 300px;
    height: 40px;
    background-color: #F5F5F7;
    border-radius: 5px;
}

.search img {
    padding-left: 16px;
    transform: translateY(10px);
    padding-right: 10px;
}

.search input {
    background-color: #F5F5F7;
    border: transparent;
    transform: translateY(4px);
    width: 230px;
}

.bell {
    width: 24px;
}

.photo {
    width: 60px;
}

.photo img {
    border-radius: 10px;
}

.block4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    margin-top: 44px;
}

.process {
    width: 208px;
    height: 97px;
    background-color: #F5F5F7;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.number1, .number2 {
    font-size: 64px;
    height: 110px;
    padding-left: 30px;
}

.progress1, .progress2 {
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto;
}

.number1 {
    width: 51px;
}

.number2 {
    width: 38px;
}

.progress1 {
    width: 76px;
    padding-right: 35px;
}

.progress2 {
    width: 80px;
    padding-right: 40px;
}

.block5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.stats {
    font-size: 24px;
    line-height: 38px;
    margin-top: 40px;
    margin-bottom: 16px;
}

.block5 span {
    font-size: 16px;
    line-height: 26px;
}

.block5 span:last-of-type {
    opacity: 0.3;
    padding-left: 24px;
} 

.block5 select {
    -webkit-appearance: none;
    border: none;
    border-radius: 10px;
    padding: 9px 29px 8px 16px;
    background-color: #F5F5F7;
    background-image: url(img/Vector.png);
    background-repeat: no-repeat;
    background-position: 70px 15px;
    font-family: Roboto;
    font-size: 13px;
    line-height: 15px;
}

.block6 {
    margin-top: 49px;
    height: 193px;
    background-color: #F5F5F7;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.block6 div:first-of-type {
    width: 181px;
}

.more {
    font-size: 24px;
    line-height: 38px;
}

.prem {
font-size: 16px;
line-height: 24px;
font-family: Roboto;
margin-bottom: 24px;
}

.graph img {
    max-width: 100%;
}