body {
    font-family: 'Baloo Bhaina 2', cursive;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 24px;
    display: flex;
    justify-content: space-around;
    min-height: 852px;
}

.column2, .column3 {
    border: 1px solid black;
}

.column1 {
width: 7%;
background-color: black;
color: white;
border-radius: 25px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
box-shadow: 15px 10px 40px gray;
}

.column2 {
    width: 50%;
}

.column3 {
    width: 35%;
}

.f {
    font-size: 64px;
    line-height: 102px;
    font-weight: bold;
    height: 102px;
}

.menu {
margin-top: 15px;
height: 545px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.exit {
height: 66px;
}

.menu div {
width: 47px;
text-align: center;
}

.relative {
position: relative;
}

.circle1 {
    position: absolute;
    top: -9px;
    left: 16px;
}

.circle2 {
    position: absolute;
    top: 8px;
    left: 17px;
}

.column1 a {
text-decoration: none;
color: white;
}